body {
    margin: 0;
    background-color: #212121;
    display: flex;
}

.MonsterCard {
    padding: 5%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
}

.MonsterCard img{
    filter: drop-shadow(3px 10px 4px #4444dd);
}
.MonsterName {
    text-transform: capitalize;
    margin: 5px;
    border-bottom: 1px solid;
}
.headline{
    display: flex;
    justify-content: space-between;
}
.typeBox{
    display: flex;
    justify-content: center;
    border-top: 1px solid;
}
.MonsterType1 {
    text-transform: capitalize;
    border: solid 1px white;
    border-radius: 100px;
    margin-bottom: 5px;
    margin-left:35%;
    margin-right: 35%;
}

.MonsterType2 {
    text-transform: capitalize;
    border: solid 1px white;
    border-radius: 100px;
    margin-left:35%;
    margin-right: 35%;
}

.MonsterBodyClass {
    display: flex;

}

.card {
    width: 250px;
    margin: 20px;
    box-sizing: border-box;
    /* Bezieht Padding und Border in die Breite mit ein */
    border: 5px solid #ccc;
    /* Optional: Rand der Karte */
    border-radius: 10px;
    /* Optional: abgerundete Ecken */
    overflow: hidden;
    /* Optional: Verhindert Überlauf von Inhalten */
    background-color: white;
    /* Optional: Hintergrundfarbe der Karte */
    text-align: center;
    /* Optional: Zentrieren des Inhalts */
}

.card img {
    height: 150px;
}

.card-title {
    font-size: 25px;
}

.card:hover {
    transform: scale(1.1);
    filter: brightness(90%);
    cursor: pointer;

}

.TypeColor-Bug {
    background-color: #88950A;
}

.TypeColor-Dark {
    background-color: #51392E;
}

.TypeColor-Dragon {
    background-color: #735CDE;
}

.TypeColor-Electric {
    background-color: #E49500;
}

.TypeColor-Fairy {
    background-color: #F4ACF6;
}

.TypeColor-Fighting {
    background-color: #80321D;
}

.TypeColor-Fire {
    background-color: #ED3D10;
}

.TypeColor-Fly {
    background-color: #667EDA;
}

.TypeColor-Ghost {
    background-color: #5C5FAF;
}

.TypeColor-Grass {
    background-color: #6CBF31;
}

.TypeColor-Ground {
    background-color: #CCAC54;
}

.TypeColor-Ice {
    background-color: #70D4F5;
}

.TypeColor-Normal {
    background-color: #C7C1B8;
}

.TypeColor-Poisen {
    background-color: #924392;
}

.TypeColor-Psychic {
    background-color: #EA447F;
}

.TypeColor-Rock {
    background-color: #9D873A;
}

.TypeColor-Steel {
    background-color: #B5B5C2;
}

.TypeColor-Water {
    background-color: #3495F5;
}

.dialog-bg{
    background-color: 212121;
    z-index: 999;
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.dialog{
    height: 600px;
    width: auto;
    border-radius: 10px;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
    color: #fff;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s all linear;
   
}
.dialog::before{
    z-index: -1;
}
.dialog::after{
    z-index: -2;
    filter: blur(10px);
 }
.dialog::before,.dialog::after{
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: #fff;
  background: linear-gradient(0deg, #2196f3, #060c21, #F00000);
  border-radius: 8px;
}
.dialog img{
    
    height: 200%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 2px solid silver;
    border-radius: 8px;
    padding: 3px;
    margin: 10px;
    filter: drop-shadow(3px 10px 4px #4444dd);
    
    
}
.bottomCard{
   
    background-color: white;
    border-radius: 15px;
    width: 80%;
    height: 60vh;
  
}
.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.d-none{
    display: none;
}

.NavTabs{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    margin: 0;
    
}
.MetaDaten{
    background-color: silver;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: lightgrey;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(90%);
    font-weight: bold;
}

@media screen and (min-device-width : 370px){

   .MonsterCard {
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
}
}